*{
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.curriculo{
  width: 1000px;
  margin: 0 auto;
}
.titulo{
  background-color: #F5DEB3	;
}
.nome{
  float: left;
  margin: 0;
  padding: 10px;
}

.contato{
  text-align: right;
  font-size: 8px;
  border-radius: 10px;
  display: block;
  float:right;
  padding: 0px;
  margin: 0px;
  width:20%;
  float: right;
  border:0px;
}
.contato h3 img{
  width: 16px;
}
.limpa_float{
  clear: both;
}
.conteudo{
  padding: 2px;
  margin: 0px;
}
