body {
  padding: 0px;
  margin: 0px;
  height: 0px;
  background-color:#FFFF;
  font-family: 'Roboto', sans-serif;
}
.menu{
  color: #000000;
  border: outset;
}
#rodapePrincipal{
  text-align: center;
  color: #000000;
}
.rodape{
  color: #800000;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}
.cabecalho{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #008000;
  color: #FF0000;
  font-style: normal;
  text-align: center;
}
.topico{
  color: #000080;
}
.conteudo{
  border: ridge;
  color: #6495ED;
}
