body {
  background-color:#F5FFFA;
}
.menu{
  background-color:#FFF8EC;
  color: #000000;
  border: outset;
}
#rodapePrincipal{
  text-align: center;
  color: #000000;
}
.rodape{
  color: #800000;
  background-color: #F5FFFA;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}
.cabecalho{
  background-color: #F5FFFA;
  color: #4B0082;
  font-style: normal;
  text-align: center;
}
.topico{
  color: #000080;
}
.conteudo{
  border: ridge ;
  background-color: #F0E68C;
}
